body {
   margin: 0; 
   overflow-y:scroll;
   height: 100%;
   /* background-color:black; */
   background-image: url(./images/home-splash.png);
   background-repeat: no-repeat;
   background-size: cover;
}
.nav-left {
    width: 70px;
    min-width: 70px;
    height:100%;
    z-index: 2;
    background-color: white;
    position: fixed;
}
#nav-slide {
    width: 0;
    height:100%;
    position: fixed;
    background-color: white;
    top: 0; /* Stay at the top */
    left: 0;
    z-index: 2;
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0.97;
}
.nav-link-1 {
    margin-left: 116px;
    margin-top: 33px;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size:28px;
}
.nav-link-2 {
    margin-left: 116px;
    margin-top: 25px;
    display: block;
    font-family: 'Oswald', sans-serif;
    font-size:28px;
}
.arrow {
    width: 35px;
    margin: 0 auto;
    display: block;
    transform: rotate(180deg);
    transition: 0.5s;
    margin-top: 15px;
    margin-left: 17.5px;
}
.arrowup {
    display: none;
}
.logo {
    width:50px;
    /* margin-left:10px;
    margin-top:15px; */
    margin-top:15px;
    position: fixed;
    margin-left: 10px;
    bottom: 20px;
}
.main-slot {
    width: 45%;
    margin-left: 70px;
    /* background-image: url(./images/home-splash.svg); */
    background-repeat: no-repeat;
    background-position: -500px 50%;
    max-width: 45%;
    min-width: 45%;
}
.r-slot {
    /* background-image: url(./images/research-splash.svg); */
    background-repeat: no-repeat;
    /* background-color: rgb(8, 17, 51, 0.65); */
}
.sub-slot {
    /* background-color: #C2ADDC; */
    /* width: 27%; */
    /* min-width: 280px; */
    /* height: 100%; */
}

.sub-slot2 {
    /* background-color: #05867D; */
    /* width: 27%; */
    /* min-width: 280px; */
    /* height: 100%; */
    /* background-image: url(./images/design-splash.svg); */
    background-repeat: no-repeat;

}
.sub-slot3 {
    /* background-color: #081133; */
    width: 19%;
    min-width: 280px;
    height: 100%;
    /* background-image: url(./images/design-splash.svg); */
    background-repeat: no-repeat;
    border-left: 2px solid black;
}
.holder {
    display: flex;
    height: 100%;
}

/* HEADERS */

.header-1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-weight: 500;
    font-size: 55px;
    margin-left: 70px;
    display: block;
    margin-top: 38vh;
    position: relative;
}
.subheader-1 {
    font-family: 'Oswald', sans-serif;    
    color: white;
    display: block;
    margin-left: 70px;
    width:330px;
    font-size:28px;
}
.linky {
    text-decoration: none;
    color: black;
 }
button:focus {outline:0;}
/* BUTTONS */
.abt-button {
    border:1px solid white;
    background-color: transparent;
    color:white;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;  
    padding-left:50px;
    padding-right:50px;
    padding-top:14px;
    padding-bottom:14px;
    margin-top:39px;
    margin-left:70px;
    cursor: pointer;
}

.link1 {
    text-decoration: none;
    color: white;
    width:27%;
    border-left: 2px solid black;
    background-color: none;
    transition: background-color 0.5s, width ease 0.5s;
}
.link2 {
    text-decoration: none;
    color: white;
    width:27%;
    border-left: 2px solid black;
    background-color: none;
    transition: background-color 0.5s, width ease 0.5s;
}
.sub-hide {
    display: flex;
    align-items: baseline;
    margin-left: 38px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s ease;
    height: 0px;
    overflow: hidden;
}
.lato-15 {
    font-family: 'Lato', sans-serif;
    font-size:15px;
    line-height: 156%;
    letter-spacing: 0.7;
    padding-right: 30px;
}
.wid193 {
    width: 243px;
}
.pink-arrow {
    margin-right: 10px;
}
/* SLOTS */

.sub-slot-header {
    margin-left:38px;
    margin-right:38px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size:36px;
    display: block;
    margin-top:72vh;
    color: white;
    transition: color ease 0.5s, margin-top ease 0.5s;
    pointer-events: none;
    background-color: rgb(255,200,246, 0.3);
    width: 159px;
    padding-left: 12px;
    padding-top: 1px;
    padding-bottom: 4px;
}
.sub-slot-sub-header {
    font-family: 'Oswald', sans-serif;
    margin-left:38px;
    margin-right:38px;
    font-size:28px;
    display: block;
    pointer-events: none;
    margin-top: 12px;
}
.sub-slot-2-header {
    margin-left:38px;
    margin-right:38px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size:36px;
    display: block;
    margin-top:6vh;
    transition: color ease 0.5s, margin-top ease 0.5s;
    color:white;
    pointer-events: none;
    background-color: rgb(123,209,199, 0.3);
    width: 115px;
    padding-left: 12px;
    padding-top: 1px;
    padding-bottom: 4px;
}
.sub-slot-2-sub-header {
    font-family: 'Oswald', sans-serif;
    margin-left:38px;
    margin-right:18px;
    font-size:28px;
    display: block;
    color:white;
    pointer-events: none;
    margin-top: 12px;
}
.sub-slot-3-header {
    margin-left:19px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size:36px;
    display: block;
    padding-top:72vh;
    transition: padding-top ease 0.5s;
    pointer-events: none;
    color:white;
}
.sub-slot-3-sub-header {
    font-family: 'Oswald', sans-serif;
    margin-left:19px;
    font-size:28px;
    display: block;
    color:white;
    pointer-events: none;
}




/* 1024 786 */

/* On screens that are 992px or less, set the background color to blue */
@media screen and (max-width: 1200px) {
/* HEADERS */

.header-1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 45px;
    margin-left: 40px;
    margin-top: 38vh;
}
.subheader-1 {
    font-family: 'Oswald', sans-serif;    
    color: white;
    margin-left: 40px;
    width:330px;
    font-size:24px;
}

/* BUTTONS */
.abt-button {
    border:1px solid white;
    background-color: transparent;
    color:white;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;  
    margin-top:39px;
    margin-left:40px;
}
  }


  @media screen and (max-width: 1150px) { 
    .main-slot {
        max-width: 40%;
        min-width: 40%;
        width:40%;

    }
    .wid193 {
        width: 193px;
    }
  }

  @media screen and (max-width: 940px) { 
    .header-1 {
        font-size: 39px;
    }
    .subheader-1 {
        width: 300px;
        font-size: 20px;
    }
    .main-slot {
        max-width: 38%;
        min-width: 38%;
        width: 38%;
    }
   }
   @media screen and (max-width: 840px) { 
    .sub-slot-2-sub-header {
        font-size: 20px;
        margin-left: 20px;
    }
    .sub-slot-sub-header {
        font-size: 20px;
        margin-left: 20px;
    }
    .sub-slot-header, .sub-slot-2-header {
        background-color: transparent;
        padding-left: 0;
        margin-left: 20px;
        margin-right: 20px;
    }
   }
   @media screen and (max-width: 730px) { 
    .header-1 {
        font-size: 26px;
    }
    .subheader-1 {
        width: 150px;
        font-size: 20px;
    }
   }

  @media screen and (max-width: 600px) {
    .nav-left {
        width: 100%;
        height: 65px;
        position: fixed;
    }
    .arrow {
        display: none;
    }
    .arrowup {
            width: 35px;
            margin: 0 auto;
            display: block;
            transform: rotate(180deg);
            transition: 0.5s;
            margin-top: 15px;
            float: right;
            margin-right: 10px;
    }
    .logo {
        width: 50px;
        margin-left: 10px;
        margin-top: 7.5px;
        margin-right: 10px;
        position: inherit;
    }
    #nav-slide {
        width:100%;
        height:0;
        margin-top:65px;
    }
    .holder {
        flex-direction: column;
    }
    .main-slot {
        width:100%;
        margin-left: 0px;
    }
    .header-1 {
        font-size:55px;
        margin-top:160px;
    }
    .subheader-1 {
        font-size:28px;
    }
    .abt-button {
        margin-bottom: 140px
    }
    .sub-slot, .sub-slot2, .sub-slot3 {
        background-color: #081133;
        border-top: 2px solid white;
        width:100%;
    }
    .sub-slot-header {
        padding-top: 50px;
        margin-top: 0px;
    }
    .sub-slot-sub-header {
        padding-bottom:35px;
        margin-top:0px;
    }
    .sub-slot-2-header {
        padding-top: 50px;
        margin-top: 0px;
    }
    .sub-slot-2-sub-header {
        padding-bottom:35px;
        margin-top:0px;
    }
    .sub-slot-3-header {
        padding-top: 50px;
    }
    .sub-slot-3-sub-header {
        padding-bottom:35px;
    }
    .nav-link-1 {
        margin-left:34px;
    }
    .nav-link-2 {
        margin-left:34px;
    }
    .blog-1 {
        margin-bottom: 42px;
    }
    .link1, .link2 {
        width:100%;
    }
    .subheader-1 {
        width:420px;
    }
    .disnone {
        display: block;
    }
  }

  @media screen and (max-width: 470px) {
    .subheader-1 {
        width: 290px;
        font-size: 20px;
    }
    .header-1 {
        font-size: 45px;
    }
  }

